.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    padding: 15px 0;
    background-color: black;
    color: white;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}